src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="flightbookingapi-config" api="flightbookingapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="flightbookingapi-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="flightbookingapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="flightbookingapi-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="flightbookingapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\bookmyholiday\flights\booking\(bookingId):application\json:flightbookingapi-config">
        <flow-ref doc:name="updateMyBookingDate" doc:id="4d2c3136-5cd9-404e-9aa9-dc6bc1702d52" name="updateMyBookingDate" />
    </flow>
    <flow name="delete:\bookmyholiday\flights\booking\(bookingId):flightbookingapi-config">
        <flow-ref doc:name="FlightBookingCancel" doc:id="40887211-554d-42dd-ba58-fb7cfdcf9e21" name="FlightBookingCancel" />
    </flow>
    <flow name="get:\bookmyholiday\cars:flightbookingapi-config">
        <flow-ref doc:name="getCarInfo" doc:id="731e24c7-ac9f-4be6-9cb2-b16298669265" name="getCarInfo" />
    </flow>
    <flow name="get:\bookmyholiday\flights:flightbookingapi-config">
        <flow-ref doc:name="getFlights" doc:id="00072faf-f08c-4243-82a9-8836eceaf150" name="getFlightsInfo" />
    </flow>
    <flow name="get:\bookmyholiday\flights\booking\(bookingId):flightbookingapi-config">
        <flow-ref doc:name="FlightBookingDetails" doc:id="e1a80449-7bc6-4320-9d64-d9ec38ebed3d" name="FlightBookingDetails" />
    </flow>
    <flow name="get:\bookmyholiday\cars\(carPartner):application\json:flightbookingapi-config">
        <flow-ref doc:name="GetCarByPartner" doc:id="6903145b-ea50-4224-98a8-f58420e980de" name="getCarsByCarPartner" />
    </flow>
    <flow name="post:\bookmyholiday\flights\booking:application\json:flightbookingapi-config">
        <flow-ref doc:name="BookMyFlight" doc:id="e3cf8120-4d67-4c6d-8008-c3cb8503b246" name="BookMyFlight" />
    </flow>
    <flow name="post:\bookmyholiday\cars\booking:application\json:flightbookingapi-config">
        <flow-ref doc:name="BookMyCar" doc:id="55eeb9c8-dfb1-4d06-9c1f-1d3f5a88eab6" name="BookMyCar" />
    </flow>
    <flow name="get:\bookmyholiday\flights\(airline):application\json:flightbookingapi-config">
        <flow-ref doc:name="getFlightByAirline" doc:id="a0b480d1-5ffb-4812-bddb-ff001d6dffdd" name="getFlightByAirline" />
    </flow>
    <flow name="delete:\bookmyholiday\hotels\booking:flightbookingapi-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Booking cancelled!!"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\bookmyholiday\hotels\(city):flightbookingapi-config">
        <flow-ref doc:name="getHotelsByCity" doc:id="20c9ac85-acb7-4cc1-9b02-ae773c2eb593" name="getHotelsByCity" />
    </flow>
    <flow name="post:\bookmyholiday\hotels\booking:application\json:flightbookingapi-config">
        <flow-ref doc:name="bookMyHotel" doc:id="aed36dba-38d1-40aa-ab9d-c63b5de41c7e" name="bookMyHotel" />
    </flow>
    <flow name="get:\bookmyholiday\hotels\rating\(rating):flightbookingapi-config">
        <flow-ref doc:name="getHotelsByRating" doc:id="b9b644cf-87be-4531-ac2d-93819ea1fae5" name="getHotelsByRating" />
    </flow>
    <flow name="put:\bookmyholiday\flights\(airline):flightbookingapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airline">attributes.uriParams.'airline'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\bookmyholiday\flights\(airline):flightbookingapi-config" />
    </flow>
    <flow name="put:\bookmyholiday\cars\booking\(bookingId):application\json:flightbookingapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Booking updated successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\bookmyholiday\flights\(airline):flightbookingapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airline">attributes.uriParams.'airline'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\bookmyholiday\flights\(airline):flightbookingapi-config" />
    </flow>
    <flow name="delete:\bookmyholiday\cars\booking\(bookingId):flightbookingapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="333e2241-f5d8-414d-a914-4913b0efbd4c" name="cancelHotelBooking"/>
    </flow>
    <flow name="get:\bookmyholiday\cars\booking\(bookingId):flightbookingapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  bookingId: 103,
  company: "Meru",
  bookingDate: "03 Jan,2022",
  source: "Delhi",
  destination: "Agra",
  price: 3500,
  customer: "Rajat"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\bookmyholiday\flights:application\json:flightbookingapi-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Flight added (but not really)"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\bookmyholiday\flights\(airline):flightbookingapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airline">attributes.uriParams.'airline'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\bookmyholiday\flights\(airline):flightbookingapi-config" />
    </flow>
</mule>
